*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f5f8ff;
}

nav{
background:#003366;
display:flex;
justify-content:space-between;
padding:20px 50px;
position:fixed;
width:100%;
z-index:1000;
}

nav h2{
color:white;
}

nav ul{
display:flex;
list-style:none;
gap:20px;
}

nav a{
color:white;
text-decoration:none;
}

.banner{
height:100vh;
background:url('img/banner.jpg');
background-size:cover;
background-position:center;
display:flex;
align-items:center;
justify-content:center;
}

.banner-conteudo{
background:rgba(0,0,0,.55);
padding:40px;
border-radius:15px;
text-align:center;
color:white;
}

.banner h1{
font-size:55px;
max-width:900px;
}

.btn{
display:inline-block;
margin-top:20px;
padding:15px 30px;
background:#0077ff;
color:white;
text-decoration:none;
border-radius:30px;
}

.sobre{
padding:80px 10%;
text-align:center;
}

.bloco{
display:flex;
align-items:center;
gap:40px;
padding:80px 10%;
}

.bloco img{
width:50%;
border-radius:15px;
}

.inverso{
flex-direction:row-reverse;
}

.curiosidades{
padding:80px;
background:#003366;
color:white;
text-align:center;
}

.cards{
display:flex;
justify-content:center;
gap:30px;
margin-top:30px;
}

.card{
background:white;
color:black;
padding:30px;
border-radius:15px;
width:250px;
}

footer{
background:#001933;
color:white;
text-align:center;
padding:30px;
}

@media(max-width:900px){

.bloco{
flex-direction:column;
}

.bloco img{
width:100%;
}

.cards{
flex-direction:column;
align-items:center;
}

.banner h1{
font-size:35px;
}

nav{
flex-direction:column;
}
}
